Source: ros-indigo-phantomx-reactor-arm-description
Section: misc
Priority: extra
Maintainer: Roberto Guzmán <rguzman@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/phantomx_reactor_arm_description
Standards-Version: 3.9.2

Package: ros-indigo-phantomx-reactor-arm-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The phantomx_reactor_arm_description package
