Source: ros-indigo-phantomx-reactor-arm
Section: misc
Priority: extra
Maintainer: Roberto Guzmán <rguzman@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/phantomx_reactor_arm
Standards-Version: 3.9.2

Package: ros-indigo-phantomx-reactor-arm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-phantomx-reactor-arm-controller, ros-indigo-phantomx-reactor-arm-description
Description: The phantomx_reactor_arm package
